// Colors project
$basicBlue: #161C35;
$basicBlueDark: #1D2E5B;
$basicBlueLight: #EDEFF6;
$basicYellow: #FFD74B;
$basicWhite: #ffffff;


$specialBLueLight: #DFE3F0;
$specialGray: #444444;
$specialRed: #F47E7E;
$specialOrange: #FF8D30;
$specialYellowDark: #FFBD30;


