// Helper width
    // Mobile
    @media (min-width: 280px) and (max-width: $mobile-width-only) {    
    }
    // Tablet
    @media (min-width: $tablet-width) and (max-width: 1439px) {    
    }
    // Desktop
    @media (min-width: $desktop-width) {
    }


//// Calendar Form 
.Calendar {
    display: flex;
    flex-direction: column;
    border-collapse: collapse;

    padding: 0;

    // Mobile
    @media (min-width: 280px) and (max-width: $mobile-width-only) {   
    }
    // Tablet
    @media (min-width: $tablet-width) and (max-width: 1439px) {    
    }
    // Desktop
    @media (min-width: $desktop-width) {
    }    
}

.Calendar-Navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin: 0;
    padding: 0;
    border: 0;
 
    border-bottom: 1px solid #D6D9E6;
    border-top: 1px solid #D6D9E6;

    // Mobile
    @media (min-width: 280px) and (max-width: $mobile-width-only) { 
        height: 44px;

        margin-right: 20px; 
        margin-bottom: 16px;
    }
    // Tablet
    @media (min-width: $tablet-width) and (max-width: 1439px) {   
        height: 86px; 
    }
    // Desktop
    @media (min-width: $desktop-width) {
        height: 86px;

        margin-right: 15px;
    }    
}

.Calendar-Button {
    display: flex;
    flex-direction: column;
    justify-content: center;

    background-color: transparent;
    border: 0;
    outline: none;
    transition: 0.2 ease;

    &_prev {

    }

    &_next {
        transform: rotate(-180deg);
    }

    &:hover .Calendar-ButtonIco,
    &:focus .Calendar-ButtonIco {
        opacity: 0.5;
    }

    &:active .Calendar-ButtonIco {
        opacity: 0.1;
    }

    // Mobile
    @media (min-width: 280px) and (max-width: $mobile-width-only) { 
        width: 35px;
        height: 44px; 
    }

    // Tablet
    @media (min-width: $tablet-width) and (max-width: 1439px) {  
        width: 80px;
        height: 86px;

        .Calendar-ButtonIco {
            margin-left: 17px;
        }
    }
    // Desktop
    @media (min-width: $desktop-width) {
        width: 80px;
        height: 86px;
    }
}

.Calendar-ButtonIco {
    opacity: 0.3;
    background-image: url('../../../img/svg/CalendarArrow.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;

    // Mobile
    @media (min-width: 280px) and (max-width: $mobile-width-only) { 
        width: 9px;
        height: 18px;   
    }
    // Tablet
    @media (min-width: $tablet-width) and (max-width: 1439px) {   
        width: 19px;
        height: 34px; 

    }
    // Desktop
    @media (min-width: $desktop-width) {
        width: 15.5px;
        height: 28px;
    }        
}

.Calendar-IndicatorDate {
    padding: 0;
    margin: 0;

    font-family: $bold, 'Arial';
    font-style: normal;
    font-weight: 700;

    color: $basicBlueDark; 

    // Mobile
    @media (min-width: 280px) and (max-width: $mobile-width-only) { 
        font-size: 20px;
        line-height: 20px;   
    }
    // Tablet
    @media (min-width: $tablet-width) and (max-width: 1439px) {   
        font-size: 36px;
        line-height: 36px;         
    }
    // Desktop
    @media (min-width: $desktop-width) {
        font-size: 36px;
        line-height: 36px;        
    }    
}

.Calendar-Header {
    margin: 0;
    padding: 0;

    // Mobile
    @media (min-width: 280px) and (max-width: $mobile-width-only) {    
    }
    // Tablet
    @media (min-width: $tablet-width) and (max-width: 1439px) {    
    }
    // Desktop
    @media (min-width: $desktop-width) {
    }    
}

.Calendar-HeaderRow {
    margin: 0;
    padding: 0;

    // Mobile
    @media (min-width: 280px) and (max-width: $mobile-width-only) {    
    }
    // Tablet
    @media (min-width: $tablet-width) and (max-width: 1439px) {    
    }
    // Desktop
    @media (min-width: $desktop-width) {
    }    
}

.Calendar-HeaderCell {
    margin: 0;
    padding: 0;

    // Mobile
    @media (min-width: 280px) and (max-width: $mobile-width-only) {   
        width: 32px;
        height: 32px;

        text-align: center;
    }
    // Tablet
    @media (min-width: $tablet-width) and (max-width: 1439px) {  
        width: 77px;
        height: 65px;  

        padding-bottom: 8px;

        text-align: center;
        vertical-align: bottom;
    }
    // Desktop
    @media (min-width: $desktop-width) {
        width: 142px;
        height: 56px;

        padding-left: 17px;
    }
}

.Calendar-HeaderText {
    font-family: $normal, 'Arial';
    font-style: normal;
    font-weight: 400;

    color: $specialGray;

    padding: 0;
    margin: 0;

    &_holiday {
        color: #FF5C23;
    }

    // Mobile
    @media (min-width: 280px) and (max-width: $mobile-width-only) {   
        font-size: 14px;
        line-height: 18px;    
    }
    // Tablet
    @media (min-width: $tablet-width) and (max-width: 1439px) {    
        font-size: 18px;
        line-height: 18px;        
    }
    // Desktop
    @media (min-width: $desktop-width) {
        font-size: 18px;
        line-height: 18px;        
    }
}

.Calendar-HeaderLetter {
    font: inherit;
    color: inherit;

    padding: 0;
    margin: 0;

    display: none;  
    
    // Mobile
    @media (min-width: 280px) and (max-width: $mobile-width-only) {    
    }
    // Tablet
    @media (min-width: $tablet-width) and (max-width: 1439px) {   
        display: inline-block; 
    }
    // Desktop
    @media (min-width: $desktop-width) {
        display: inline-block; 
    }        
}

.Calendar-Body {
    margin: 0;
    padding: 0;

    // Mobile
    @media (min-width: 280px) and (max-width: $mobile-width-only) {    
    }
    // Tablet
    @media (min-width: $tablet-width) and (max-width: 1439px) {    
    }
    // Desktop
    @media (min-width: $desktop-width) {
    }    
}

.Calendar-BodyRow {
    margin: 0;
    padding: 0;
    


    // Mobile
    @media (min-width: 280px) and (max-width: $mobile-width-only) {    
    }
    // Tablet
    @media (min-width: $tablet-width) and (max-width: 1439px) {    
    }
    // Desktop
    @media (min-width: $desktop-width) {
    }        
}

.Calendar-BodyCell {
    cursor: pointer;

    font-family: $medium, 'Arial';
    font-style: normal;
    font-weight: 500;

    border: 1px solid #CBCED9;
    background-color: $basicBlueLight;

        // Can choose Cells
        &_can {
            color: $basicBlueDark;   
            background-color: $basicBlueLight;

            &:hover, &:focus {
                color: $basicWhite;
                outline: 4px solid #FF5C23;
                outline-offset: -2px;
                background-color: $basicBlueDark;
            }
        }
        // Not available Cells
        &_cant {
            cursor: default;

            color: #c7c7c7;
            border: 1px solid #D6D9E6;
            background-color: transparent;
        }
        // Chosen Cells
        &_chosen {
            color: $basicWhite;
            border: 1px solid #CBCED9;
            background-color: $basicBlueDark;

            &:hover, &:focus {
                color: $basicWhite;
                outline: 4px solid #FF5C23;
                outline-offset: -2px;
                background-color: $basicBlueDark;
            }

        }

    // Mobile
    @media (min-width: 280px) and (max-width: $mobile-width-only) {  
        font-size: 14px;
        line-height: 18px;

        width: 32px; 
        height: 32px;

        text-align: center;
    }
    // Tablet
    @media (min-width: $tablet-width) and (max-width: 1439px) {    
        font-size: 20px;
        line-height: 20px;     
        
        width: 77px;
        height: 70px;     
        
        text-align: center;
    }
    // Desktop
    @media (min-width: $desktop-width) {
        font-size: 18px;
        line-height: 18px;        

        width: 143px;
        height: 73px;

        padding-left: 16px;
        padding-top: 16px;

        vertical-align: top;

        // Chosen Cells
        &_chosen {
            &_start {
                .Calendar-BodyTextStatus_start {
                    display: block;
                }
            }
            &_end {
                .Calendar-BodyTextStatus_end {
                    display: block;
                }
            }
        }
    }    
}

.Calendar-BodyText {
    font: inherit;

    padding: 0;
    margin: 0;

    // Mobile
    @media (min-width: 280px) and (max-width: $mobile-width-only) {    
    }
    // Tablet
    @media (min-width: $tablet-width) and (max-width: 1439px) {    
    }
    // Desktop
    @media (min-width: $desktop-width) {
    }    
}

.Calendar-BodyTextStatus {
    display: none;

    font-family: $normal, 'Arial';
    font-style: normal;
    font-weight: 400;

    color: $basicWhite;
    
    // Mobile
    @media (min-width: 280px) and (max-width: $mobile-width-only) {    
    }
    // Tablet
    @media (min-width: $tablet-width) and (max-width: 1439px) {    
    }
    // Desktop
    @media (min-width: $desktop-width) {
        font-size: 18px;
        line-height: 20px;

        margin-top: 8px;
    }    
}
