// Helper width
    // Mobile
    @media (min-width: 280px) and (max-width: $mobile-width-only) {    
    }
    // Tablet
    @media (min-width: $tablet-width) and (max-width: 1439px) {    
    }
    // Desktop
    @media (min-width: $desktop-width) {
    }


.MapBox {
    position: relative;
    z-index: -2;

    display: flex;
    align-items: center;
    justify-content: center;
    
    margin: 0 auto;
    background-color: blue;

    // Mobile
    @media (min-width: 280px) and (max-width: $mobile-width-only) {   
        height: 318px;
        width: 100vw;
    }
    // Tablet
    @media (min-width: $tablet-width) and (max-width: 1439px) {   
        height: 571px;
        width: 100vw;
    }
    // Desktop
    @media (min-width: $desktop-width) {
        height: 508px;
        width: 100vw;
    }    
}

.MapBox-Map {
    // Mobile
    @media (min-width: 280px) and (max-width: $mobile-width-only) {  
        min-height: 318px;
        width: 100%;  
    }
    // Tablet
    @media (min-width: $tablet-width) and (max-width: 1439px) {  
        min-height: 571px;
        width: 100%; 
    }
    // Desktop
    @media (min-width: $desktop-width) {
        min-height: 508px;
        width: 100%;
    }    
}
